/* --------------------
font style
---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
/* ----------------------

first section
-------------------------- */

.top-container{
    background-color: #000080;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.half-width h1{
    width: 485px;
    height: 230px;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
    padding-top: 154px;
    padding-left: 50px;
    margin-right: 20px;
    margin-bottom: 18px;
    
}

/*---------------------------
    button    button   button-
-------------------------- */

.button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    margin-left: 50px;
}
.link-button{
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px 10px;  
}

.link-button:hover{
    color: yellow;
}
/*-------------------------------

 hover transform 
------------------------------------- */
.box{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: yellow;
    transition: width 1s,height 1s, transform 1s;
}
.box:hover{
    width: 100px;
    height: 100px;
    background-color: tomato;
    transform: rotate(360deg);

}
/*-------------------------
 first section banner
 ----------------------- */
.half-width img{
    width: 500px;
    height: 438px;
    padding-top: 153px;
    margin-bottom: 86px;
    margin-right: 100px;
    margin-left: 51px;
}

/*-----------------------------------------------------
            mid section & 
            player details
-------------------------------------------------------- */
.mid-container{
    margin-top: 70px;
    padding-left: 80px;
    padding-right: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;
}
.players{
    width: 330px;
    height: 474px;
    box-shadow: 2px 2px 15px black;
    padding-bottom: 15px;
}
.image img{
    width: 300px;
    height: 256px;
    padding: 15px;
}
.player{ 
    margin: 0px 15px 15px 15px;
}
.player h3{
    margin-top: 0px;
    margin-bottom: 10px;
}
.details{
    font-weight: 900;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    padding-bottom: 33px;
}

/*----------------------------------------
    footer    footer  footer
----------------------- --------------------*/
footer{
    width: 483.87px;
    height: 213px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-content{
    margin-top: 200px;
    margin-left: 800px;
    

}
.footer-image img{
    width: 483.87px;
    height: 110px;
}
.social-icon{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.social-icon li{
    width: 32px;
    height: 32px;
    
}
.social-icon a i{
    color: #969BAB;
}
.footer-bottom p{
    font-size: 18px;
    font-style: normal;
    text-align: center;
    
}
/* --------------------------------

Media Quaries        
responsive style/-

---------------------------------- */
@media only screen and (max-width:688px) {
    .top-container{
        width: 1000px;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color: #000080;
    }
    .mid-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 150px;

    }
    .footer{
        width: 283.87px;
        height: 213px;
        display: flex;
        flex-direction: column;
        
    }
     .footer-content{
        margin-top: 200px;
        margin-left: 20px;
        padding-left: 40px;
    

    } 
}


